body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.agregar {
  border: solid;
  border-width: 5px;
}
.btnAgregar {
  background-color: aliceblue;
}
.tareas{
  border: solid;
}